@import '@fontsource/atkinson-hyperlegible/400.css';
@import '@fontsource/atkinson-hyperlegible/400-italic.css';
@import '@fontsource/atkinson-hyperlegible/700.css';
@import '@fontsource/atkinson-hyperlegible/700-italic.css';
@import '@fontsource/libre-baskerville/400.css';
@import '@fontsource/libre-baskerville/700.css';

/* Box sizing
--------------------------------------------- */

/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

/* Typography
--------------------------------------------- */
body {
	margin: 0;
	line-height: 1.5;
	font-family: 'Atkinson Hyperlegible', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol';
}

h1,
h2,
h3,
h4 {
	font-family: 'Libre Baskerville', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-weight: 700;
}
