---
import { Image } from "astro:assets";

import BaseLayout from "@layouts/BaseLayout.astro";

import ContactCTA from "@components/ContactCTA.astro";

import Hero from "@components/Hero.astro";

import portrait from "@assets/portrait.jpg";
---

<BaseLayout
	title="About me – Jakob Bouchard"
	description="Jakob Bouchard’s background and interests."
>
	<div class="stack gap-15 lg:gap-20">
		<div class="wrapper about gap-8 lg:gap-10">
			<header>
				<Hero
					title="About me"
					tagline="Thanks for stopping by. Read below to learn more about myself and my background."
				>
					<Image
						src={portrait}
						width={portrait.width / 3}
						height={portrait.height / 3}
						alt="Jakob Bouchard smiling in a dark blue shirt, with golden glasses"
					/>
				</Hero>
			</header>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I'm currently in my final year at UQAT, studying video game
						development. Before coming to Montréal, I completed a program in
						multimedia integration at Cégep de l’Outaouais, which sparked my
						passion for the game industry.
					</p>
					<p>
						Aside from my studies, I work as a web developer, always exploring
						new technologies and taking on challenging projects to push my
						limits. In the long run, I hope to start a cooperative studio with
						some friends, where we can create innovative games together and
						cultivate a supportive work environment.
					</p>
					<p>
						When I'm not focused on my studies or work, I love gaming, exploring
						the vibrant city of Montréal, and trying out different food spots.
						Music and pop culture also excite me, and I'm constantly on the
						lookout for emerging artists and binge-worthy TV series.
					</p>
				</div>
			</section>
		</div>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
	}

	img {
		aspect-ratio: 16 / 9;
		object-fit: cover;
		object-position: top;
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		margin-bottom: 0.5em;
		grid-column-start: 1;
		font-size: var(--text-2xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(p + p) {
		margin-top: 1em;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 55% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}

		.section-title {
			font-size: var(--text-xl);
		}
	}

	@media (min-width: 62em) {
		.section-title {
			font-size: var(--text-2xl);
		}
	}

	@media (min-width: 75em) {
		.about {
			grid-template-columns: 1fr 60% 1fr;
		}
	}
</style>
