---
import { Picture } from "astro:assets";

import BaseLayout from "@layouts/BaseLayout.astro";

import Hero from "@components/Hero.astro";

import lily from "@assets/lily.jpg";
import Icon from "@components/Icon.astro";
---

<BaseLayout
	title="About me – Jakob Bouchard"
	description="Jakob Bouchard’s background and interests."
>
	<div class="stack gap-15 lg:gap-20">
		<div class="wrapper about gap-8 lg:gap-10">
			<header>
				<Hero
					title="About me"
					tagline="Thanks for stopping by. Read below to learn more about myself and my background."
				>
					<Picture
						loading={"eager"}
						formats={["avif", "webp"]}
						src={lily}
						width={lily.width / 3}
						height={lily.height / 3}
						alt="A close up of a grey kitten with green eyes."
						quality={85}
					/>
				</Hero>
			</header>

			<section>
				<div class="section-title">
					<h2>Background</h2>
					<div class="socials">
						<a
							rel="me external noopener"
							href="https://bsky.app/profile/jakobbchrd.bsky.social"
						>
							<Icon title="Bluesky" icon="butterfly" />
						</a>
					</div>
				</div>
				<div class="content">
					<p>
						I obtained a B.A. in video game development after two
						years of studies at UQAT’s Montréal campus. Before
						coming to Montréal, I completed a program in multimedia
						integration at <i>Cégep de l’Outaouais</i>, which
						sparked my passion for the game industry.
					</p>
					<p>
						When I’m not focused on my studies or work, I love
						gaming, exploring the vibrant city of Montréal, and
						trying out different food spots. Music and pop culture
						also excite me, and I’m constantly on the lookout for
						new artists and binge-worthy TV series.
					</p>
				</div>
			</section>
			<section>
				<div class="section-title">
					<h2>Experience</h2>
					<div class="socials">
						<a
							rel="me external noopener"
							href="https://www.linkedin.com/in/jakobbouchard"
						>
							<Icon title="LinkedIn" icon="linkedin-logo" />
						</a>
						<a
							rel="me external noopener"
							href="https://jakobbouchard.itch.io"
						>
							<Icon title="itch.io" icon="game-controller" />
						</a>
						<a
							rel="me external noopener"
							href="https://github.com/jakobbouchard"
						>
							<Icon title="GitHub" icon="github-logo" />
						</a>
					</div>
				</div>
				<div class="content">
					<p>
						Previously, I worked as a game programmer at <a
							rel="external noopener"
							href="https://www.lucidtales.coop/">Lucid Tales</a
						>, a worker cooperative creating innovative games in a
						great, supportive work environment. They are working on <a
							rel="external noopener"
							href="https://www.lucidtales.coop/sally/"
							><i>Sally</i></a
						>, a life-simulation game about community and belonging.
					</p>
					<p>
						To learn more about my professional experience, check
						out my
						<a
							rel="me external noopener"
							href="https://www.linkedin.com/in/jakobbouchard"
							>LinkedIn</a
						>. You can also view some of my projects on <a
							rel="me external noopener"
							href="https://jakobbouchard.itch.io">itch.io</a
						> and <a
							rel="me external noopener"
							href="https://github.com/jakobbouchard">GitHub</a
						>.
					</p>
				</div>
			</section>
		</div>
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
	}

	img {
		aspect-ratio: 16 / 9;
		object-fit: cover;
		object-position: top;
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		margin-bottom: 0.5em;
		grid-column-start: 1;
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.socials {
		--icon-size: var(--text-xl);

		display: flex;
		gap: 0.5rem;
		font-size: var(--icon-size);
	}

	.socials a {
		display: flex;
		text-decoration: none;
		color: var(--accent-dark);
		transition: color var(--theme-transition);
	}

	.socials a:hover,
	.socials a:focus {
		color: var(--gray-0);
	}

	.section-title h2 {
		margin: 0;
		font-size: var(--text-2xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(p + p) {
		margin-top: 1em;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 55% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}

		.section-title {
			flex-direction: column;
			align-items: flex-start;
			gap: 0.5rem;
		}

		.socials {
			gap: 0.75rem;
		}
	}

	@media (min-width: 62em) {
		.section-title {
			font-size: var(--text-2xl);
		}
	}

	@media (min-width: 75em) {
		.about {
			grid-template-columns: 1fr 60% 1fr;
		}
	}
</style>
