---
import BaseLayout from "@layouts/BaseLayout.astro";

import Hero from "@components/Hero.astro";
import Icon from "@components/Icon.astro";
---

<BaseLayout
	title="Contact – Jakob Bouchard"
	description="Jakob Bouchard’s contact information and social media."
>
	<div class="stack gap-15 lg:gap-20">
		<div class="contact wrapper gap-8 lg:gap-10">
			<header>
				<Hero
					title="Contact"
					tagline="Interested in working together? Here’s how you can get in touch."
				/>
			</header>
			<section>
				<div class="section-title">
					<h2>Email</h2>
					<a class="email" href="mailto:jakob@bchrd.ca"
						>jakob@bchrd.ca</a
					>
				</div>
				<div class="content">
					<p>
						If you’d like to get in touch with me, reach out via
						email at <a href="mailto:jakob@bchrd.ca"
							>jakob@bchrd.ca</a
						>. Please don’t hesitate to send me an email, and I’ll
						make sure to get back to you as soon as possible!
					</p>
				</div>
			</section>
			<section>
				<div class="section-title">
					<h2>Social media</h2>
					<div class="socials">
						<a
							rel="me external noopener"
							href="https://www.linkedin.com/in/jakobbouchard"
						>
							<Icon title="LinkedIn" icon="linkedin-logo" />
						</a>
						<a
							rel="me external noopener"
							href="https://bsky.app/profile/https://bsky.app/profile/did:plc:zphsc2loqx4ct5wzsiyhdflf"
						>
							<Icon title="Bluesky" icon="butterfly" />
						</a>
					</div>
				</div>
				<div class="content">
					<p>
						If you prefer to connect through social media, you can
						reach out to me on <a
							href="https://www.linkedin.com/in/jakobbouchard"
						>
							LinkedIn
						</a> and <a
							href="https://bsky.app/profile/https://bsky.app/profile/did:plc:zphsc2loqx4ct5wzsiyhdflf"
							>Bluesky</a
						>. I’m always happy to engage with fellow game
						enthusiasts, industry professionals, and like-minded
						individuals.
					</p>
				</div>
			</section>
		</div>
	</div>
</BaseLayout>

<style>
	.contact {
		display: flex;
		flex-direction: column;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		margin-bottom: 0.5em;
		grid-column-start: 1;
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.socials {
		--icon-size: var(--text-xl);

		display: flex;
		gap: 0.5rem;
		font-size: var(--icon-size);
	}

	.socials a {
		display: flex;
		text-decoration: none;
		color: var(--accent-dark);
		transition: color var(--theme-transition);
	}

	.socials a:hover,
	.socials a:focus {
		color: var(--gray-0);
	}

	.section-title h2 {
		margin: 0;
		font-size: var(--text-2xl);
		color: var(--gray-0);
	}

	.section-title .email {
		font-size: var(--text-md);
		text-decoration: none;
		color: var(--accent-dark);
		transition: color var(--theme-transition);
	}

	.section-title .email:hover,
	.section-title .email:focus {
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(p + p) {
		margin-top: 1em;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.contact {
			display: grid;
			grid-template-columns: 1fr 55% 1fr;
		}

		.contact > :global(:first-child) {
			grid-column: 1 / 4;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}

		.section-title {
			flex-direction: column;
			align-items: flex-start;
			gap: 0.5rem;
		}

		.socials {
			gap: 0.75rem;
		}
	}

	@media (min-width: 62em) {
		.section-title {
			font-size: var(--text-2xl);
		}
	}

	@media (min-width: 75em) {
		.contact {
			grid-template-columns: 1fr 60% 1fr;
		}
	}
</style>
