---
import BaseLayout from "@layouts/BaseLayout.astro";

import Hero from "@components/Hero.astro";
---

<BaseLayout title="Privacy – Jakob Bouchard">
	<div class="stack gap-15 lg:gap-20">
		<div class="wrapper privacy gap-10 lg:gap-15">
			<header>
				<Hero title="Privacy" />
			</header>
			<section>
				<h2 class="section-title">Analytics</h2>
				<div class="content">
					<p>
						I use <a
							href="https://www.goatcounter.com"
							rel="external noopener"
							target="_blank">GoatCounter</a
						>, and you can <a
							href="https://jakobbouchard.goatcounter.com"
							rel="external noopener"
							target="_blank">view the stats</a
						> too! I can also suggest both <a
							href="https://usefathom.com"
							rel="external noopener"
							target="_blank">Fathom</a
						>, as well as <a
							href="https://umami.is"
							rel="external noopener"
							target="_blank">Umami</a
						>, if you are looking for other privacy-oriented
						options.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Cookies</h2>
				<div class="content">
					<p>
						While I really like eating cookies, I don’t want them on
						my website. However, I am using <a
							href="https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage"
							rel="external noopener"
							target="_blank"
						>
							<code>localStorage</code>
						</a> to store your theme preference.
					</p>
				</div>
			</section>
		</div>
	</div>
</BaseLayout>

<style>
	.privacy {
		display: flex;
		flex-direction: column;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		margin-bottom: 0.5em;
		grid-column-start: 1;
		font-size: var(--text-2xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content p + p {
		margin-top: 1.5rem;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.privacy {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.privacy > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}

		.section-title {
			font-size: var(--text-xl);
		}
	}

	@media (min-width: 62em) {
		.section-title {
			font-size: var(--text-2xl);
		}
	}
</style>
