<footer class="gap-4 lg:gap-10" role="contentinfo">
	<nav role="navigation" aria-label="Footer">
		<h2 id="footer-nav-title" class="sr-only">Footer navigation</h2>
		<ul aria-describedby="footer-nav-title">
			<li><a href="/privacy">Privacy</a></li>
		</ul>
	</nav>
</footer>

<style>
	footer {
		display: flex;
		flex-direction: column;
		margin-top: 5rem;
		padding: 3rem 2rem 3rem;
		background-color: var(--gray-900);
		text-align: center;
		color: var(--gray-300);
		font-size: var(--text-sm);
	}

	:global(.theme-dark) footer {
		background-color: var(--gray-800);
	}

	footer a {
		color: var(--gray-400);
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	footer a:hover,
	footer a:focus {
		text-decoration-color: currentColor;
	}

	.group {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	nav ul {
		display: flex;
		justify-content: center;
		gap: 1rem;
		flex-wrap: wrap;
		padding-left: 0;
		list-style: none;
	}

	@media (min-width: 50em) {
		footer {
			flex-direction: row;
			justify-content: space-between;
			padding: 2.5rem 5rem;
		}

		.group {
			flex-direction: row;
			gap: 1rem;
			flex-wrap: wrap;
		}

		nav ul {
			justify-content: flex-end;
		}
	}
</style>
