---
import "@fontsource/atkinson-hyperlegible/400.css";
import "@fontsource/atkinson-hyperlegible/400-italic.css";
import "@fontsource/atkinson-hyperlegible/700.css";
import "@fontsource/source-serif-pro/400.css";
import "@fontsource/source-serif-pro/600.css";
import "@styles/global.css";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const {
	title = "Jakob Bouchard – Game Programmer",
	description = "Jakob Bouchard’s portfolio, a reflection of their journey in video game development, as a game programmer from Montréal. Here, you’ll find their best projects, showcasing unique gaming experiences and game mechanics. They're well-versed in Unreal Engine 5 and Godot, and are excited to share their creations with you!",
} = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<title>{title}</title>
<meta name="description" property="og:description" content={description} />

<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_CA" />
<meta property="og:url" content="https://jakobbouchard.dev" />
<meta property="og:image" content="https://jakobbouchard.dev/social.jpg" />
<meta
	property="og:image:alt"
	content="A black and white illustration of Jakob Bouchard, a game programmer, holding a donut in their mouth."
/>
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<link rel="me" href="https://mastodon.gamedev.place/@jakobbchrd" />

<!-- Schema.org Person type -->
<script is:inline type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Person",
		"familyName": "Bouchard",
		"givenName": "Jakob",
		"image": "https://jakobbouchard.dev/social.jpg",
		"jobTitle": "Game Programmer",
		"alumniOf": {
			"@type": "EducationalOrganization",
			"name": "Université du Québec en Abitibi-Témiscamingue",
			"url": "https://www.uqat.ca"
		},
		"sameAs": [
			"https://bsky.app/profile/https://bsky.app/profile/did:plc:zphsc2loqx4ct5wzsiyhdflf",
			"https://www.linkedin.com/in/jakobbouchard/",
			"https://github.com/jakobbouchard",
			"https://mastodon.gamedev.place/@jakobbchrd",
			"https://jakobbouchard.itch.io",
			"https://www.instagram.com/jakobbouchard",
			"https://www.youtube.com/channel/UCL9TRrS9FcJhyfXca6VNr7w"
		]
	}
</script>

<script
	is:inline
	data-goatcounter="https://jakobbouchard.goatcounter.com/count"
	async
	src="//gc.zgo.at/count.js"></script>

<script is:inline>
	document.documentElement.classList.replace("no-js", "js");

	const getThemePreference = () => {
		if (localStorage.getItem("theme") != null) {
			return localStorage.getItem("theme");
		}

		return window.matchMedia("(prefers-color-scheme: dark)").matches
			? "dark"
			: "light";
	};

	const storeThemePreference = () => {
		localStorage.setItem(
			"theme",
			document.documentElement.classList.contains("theme-dark")
				? "dark"
				: "light",
		);
	};

	document.documentElement.classList.toggle(
		"theme-dark",
		getThemePreference() === "dark",
	);

	new MutationObserver(storeThemePreference).observe(
		document.documentElement,
		{ attributeFilter: ["class"] },
	);
</script>
