---
import Icon from "@components/Icon.astro";
---

<div class="skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="terminal-window"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<p class="title">Full Stack</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<p class="title">Industry Leader</p>
		<p>
			Neque viverra justo nec ultrices dui. Est ultricies integer quis auctor
			elit.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="strategy"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<p class="title">Strategy-Minded</p>
		<p>Urna porttitor rhoncus dolor purus non enim praesent ornare.</p>
	</div>
</div>

<style>
	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills .title {
		font-size: var(--text-lg);
		font-family: var(--font-brand);
		font-weight: 600;
		line-height: 1.1;
		color: var(--gray-100);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills .title {
			font-size: var(--text-2xl);
		}
	}
</style>
